* {
    font-family: Arial, Helvetica, sans-serif;
}

.mi-color-fondo {
    background-color: white;
}

.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.cedar-nombre {
    color: rgb(28, 99, 48);
    font-size: 1.5em;
}

.offcanvas {
--bs-offcanvas-width: 300px;
}

/* Estilo del fondo del modal */
#newsletterModal {
    background-color: rgba(0, 0, 0, 0.263); /* Fondo blanco semi-transparente */
  }
  
  /* Estilo de la cabecera del modal */
  #newsletterModal .modal-header {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
  }
  

  #newsletterModal .modal-title {
    font-family: 'Helvetica', sans-serif; 
    font-size: 1.5rem;
  }
  
  #newsletterModal .modal-body {
    text-align: center;
    font-size: 1rem; 
    color: #535252; 
  }
  
  #newsletterModal .btn-close {
    background-color: transparent; 
    border: none; 
  }
  
  #newsletterModal .form-label {
    font-weight: bold; 
    color: #6b6b6b; 
  }

  /* Estilo del formulario */
  #newsletterModal form {
    margin-top: 10px; /* Espacio superior */
  }
  
  /* Estilo del botón de suscripción */
  #newsletterModal .btn-primary {
    background-color: #184a24; /* Cambiar color de fondo */
    border: none; /* Sin borde */
  }
  
  #newsletterModal .btn-primary:hover {
    background-color: #218838; /* Color al pasar el ratón */
  }

  #subscribeToast {
    z-index: 1055;
  }


  .banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }
  
  .banner-image.active {
    opacity: 1;
  }

  .banner-logo {
    position: absolute;
    top: 40%; /* Ajusta este valor para subir o bajar el logo */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vh; /* Ajusta el tamaño del logo según necesites */
    opacity: 0;
  }
  
  .banner-logo.active {
    opacity: 1;
  }


.image-container {
    position: relative;
    overflow: hidden;
}

.gallery-img,
.gallery-img-hover {

    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.gallery-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .gallery-img {
    opacity: 0;
}

.image-container:hover .gallery-img-hover {
    opacity: 1;
}

.category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 4vw;; 
}


